:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #757575; /* Color of the scrollbar handle */
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Color of the scrollbar track */
  border-radius: 8px;
}

/* Right margin for a centered appearance */
::-webkit-scrollbar-corner {
  background-color: #f5f5f5; /* Color of the scrollbar corner (when both vertical and horizontal) */
  display: none; /* Hide the scrollbar corner */
}

.root--layout {
  height: 100vh;
  width: 100vw;
  background: url(../src/assets/bg.jpg);
  background-position-y: center;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main--root {
  margin-top: 90px;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 90px);
}

.button--1 {
  display: inline-block;
  padding: 15px 60px;
  font-size: 18px;
  font-family: inherit;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
}

.button--2 {
  display: inline-block;
  padding: 11px 30px;
  font-size: 12px;
  font-family: inherit;
  color: #242424;
  border: 2px solid #242424;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

/* MainNavigation */

.nav--header {
  height: 80px;
  width: 100%;
  position: fixed;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo--div {
  height: 80px;
  width: 140px;
  cursor: pointer;
}

.logo--div img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.nav--header ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-right: 140px;
}

.nav--header a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

.nav--header a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.nav--header a.active {
  color: rgba(255, 255, 255, 0.87);
  text-decoration: underline;
  text-underline-offset: 6px;
}

.nav--header li {
  font-weight: 500;
  cursor: pointer;
}

.ham--div {
  font-size: 25px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin-right: 50px;
}

/* Main Footer */
.main--footer {
  height: 70px;
  width: 300px;
  position: fixed;
  right: 160px;
  bottom: 0;
}

.main--footer ul {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  gap: 30px;
}

.main--footer li {
  font-size: 30px;
  cursor: pointer;
}

/* Home Page */
.main--section {
  width: 100%;
  height: 90%;
  padding-left: 150px;
  margin-top: 50px;
  overflow-y: hidden;
  display: flex;
}

.text--content {
  max-width: 50%;
  max-height: 100%;
}

.image--content {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  margin-right: 80px;
}

.image--content img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-right: 150px;
  margin-top: 50px;
}

.main--section--smaller {
  width: 100%;
  padding-left: 150px;
  height: 90%;
  margin-top: 60px;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
}

.home--title h2 {
  font-size: 50px;
  line-height: 1.1;
}

.home--title h1 {
  display: block;
}

.home--title span {
  display: block;
  font-size: 120px;
  line-height: 1.1;
}

.home--description {
  font-weight: 400;
  width: 70%;
}

/* Collaborators Page */

.collaborators--section {
  width: 100%;
  padding: 10px 10px;
  text-align: center;
}

.collaborators--section h2 {
  margin: 0 auto;
  font-size: 50px;
}

.collaborators--items {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.collaborators--item {
  flex: 1 0 calc(25% - 20px);
  max-width: calc(25% - 90px);
  width: 300px;
}

.collaborators--item img {
  cursor: grab;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Card Styling */
.card--container {
  width: 250px;
  height: 350px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;

  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  cursor: grab;
}

.card--image {
  width: 250px;
  height: 50%;
}

.card--image-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card--text {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.card--text h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 1.4em;
  color: #333;
}

.card--text p {
  margin: 10px 0;
  font-size: 1em;
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card--price {
  font-size: 1.3em;
  font-weight: 700;
  color: #555;
  text-align: right;
}

.card--adding {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card--adding input {
  appearance: none;
  text-align: center;
  border: 1px solid #ddd;
  background: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: 1em;
  font-family: inherit;
  font-weight: 700;
  width: 50px;
  height: 30px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.card--adding input:focus {
  border-color: #1a405a;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.products--categories ul {
  list-style-type: none;
  padding: 0;
  font-size: 25px;
}

.products--categories li {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.products--categories li.active {
  background-color: #7d695a;
  color: #fff;
  border: 1px solid #ccc;
}
/* Signup.css */

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.signup-content {
  display: flex;
  align-items: center;
}

.signup-form {
  background: rgba(38, 169, 197, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
}

.signup-form label {
  color: #242424;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}
